	body { 
		background: lightgrey;
		font-family:Verdana, Arial, Helvetica, sans-serif;
	}
	
	label{
		display:inline-block;
		width:200px;
	}
	form{
		width:500px;
		margin:0 auto;
		background:lightblue;
	}
	h1,h3{
		text-align:center;
	}
	h2{
		text-align:right;
	}
	a{
		text-decoration:none;
	}
	h1,p.volver {
		text-align:center;
	}	
	p {
		margin-left:100px;
	}
	.negrita {
		font-weight:bolder;
	}
	.error {
		text-align:center;
		color: red;
		font-weight: bolder;
	}